<!-- Rejestracja -->
<div class="col-8 mx-auto p-5 card shadow-lg">
    <form>
        <div class="input-grup">
            <div class="row">
                <div class="col display-4">
                    Rejestracja
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto">
                    Podaj dane wymagane poniżej by założyć konto i korzystać z serwisu.
                </div>
            </div>
            <div class="row">
                <div class="col m-1 mt-3 text-monospace">
                    <input class="form-control text-center bg-" type="text" placeholder="Imię" id="first_name"
                           oninput="progress(this)" maxlength="100" pattern="[A-Za-z ]{6,100}"
                           title="Powinny się tu znaleźć znaki z alfabetu i nie powinno być ich mniej niż 6."
                           name="first_name">
                </div>
            </div>
            <div class="row">
                <div class="col m-1 mt-3 text-monospace">
                    <input class="form-control text-center bg-" type="text" placeholder="Nazwisko" id="last_name"
                           oninput="progress(this)" maxlength="100" pattern="[A-Za-z ]{6,100}"
                           title="Powinny się tu znaleźć znaki z alfabetu i nie powinno być ich mniej niż 6."
                           name="last_name">
                </div>
            </div>
            <div class="row">
                <div class="col m-1 text-monospace">
                    <input class="form-control text-center" type="email" placeholder="e-mail" id="email"
                           oninput="progress(this)" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col m-1 text-monospace">
                    <input class="form-control text-center" type="password" placeholder="Hasło" id="pass"
                           oninput="progress(this)" pattern="[A-Za-z0-9 ]{8,100}"
                           title="Hasło musi posiadać co najmniej 8 znaków, alfabet i cyfry."
                            name="pass">
                </div>
            </div>
            <div class="row">
                <div class="col m-1 text-monospace">
                    <input class="form-control text-center" type="password" placeholder="Powtórz hasło" id="repeat_pass"
                           oninput="progress(this)" pattern="[A-Za-z0-9 ]{8,100}"
                            name="repeat_pass">
                </div>
            </div>
            <!--<div class="progress">-->
                <!--<div id="progressbar" class="progress-bar bg-info" role="progressbar" aria-valuenow="0"-->
                     <!--aria-valuemin="0" aria-valuemax="100"></div>-->
            <!--</div>-->
            <div class="row">
                <div class="col mt-2">
                    Więcej informacji znajdziesz <a href="#">tutaj</a>.
                </div>
            </div>
            <div class="row">
                <div class="col mt-3 text-monospace">
                    <input class="btn btn-outline-info" id="sub" type="button" value="Zarejestruj" onclick="submit_registry()" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2 text-monospace">
                    <input class="btn btn-outline-secondary" id="backToLogin" type="button"
                           value="Wróć do okna logowania" onclick="showPanel('login')">
                </div>
            </div>
        </div>
    </form>
</div>
