<!-- Generowanie listy zapisanych  -->
<!-- Wrzucanie do include_zapisani.html -->
<script>
    if (!document.getElementById('include')) {
        window.location.href = '/';
    }
    localStorage.back_button = "zapisani";
</script>
<h2 class="p-3">-_ {{ init.name }} _-</h2>
<hr>
<div class="row mb-2 mt-1">
    <div class="col-2 m-auto">Data</div>
    <div class="col-2 m-auto">Śniadanie/ Obiad/ Kolacja</div>
    <div class="col-2 m-auto">Status</div>
    <div class="col-1 m-auto">Plan dań</div>
    <div class="col-1 m-auto">Cena</div>
    <div class="col-2 m-auto">Akcja</div>
</div>
{% for item in init.list %}
<hr>
<div class="row mb-2 mt-1">
    <div class="col-2 m-auto">{{ item.date }}</div>
    <div class="col-2 m-auto">
        <input type="checkbox" {{ item.s }}> _ <input type="checkbox" {{ item.o }}> _ <input type="checkbox" {{ item.k }}>
    </div>
    <div class="col-2 m-auto" style="color: {{ item.color }};">{{ item.pay }}</div>
    <div class="col-1 m-auto">
        <button class="btn btn-outline-info">
            Menu
        </button>
    </div>
    <div class="col-1 m-auto">
        {{ item.price }} zł
    </div>
    <div class="col-2 m-auto">
        <button class="btn btn-outline-info" {{ item.pay_action }}>
            {{item.btn_action}}
        </button>
    </div>
</div>
{% endfor %}