<!-- Generowanie listy zapisanych  -->
<!-- Wrzucanie do include_zapisani.html -->
<script>
    if (!document.getElementById('include')) {
        window.location.href = '/';
    }
</script>
{% for item in list %}
<hr>
<div class="row mb-2 mt-1 alx-list">
    <div class="col-3 m-auto">{{ item.name }}</div>
    <div class="col-4 m-auto">{{ item.date }}</div>
    <div class="col-2 m-auto" style="color: {{ item.color }};">{{ item.stat }}</div>
    <div class="col-2 m-auto">
        <button class="btn btn-outline-info" onclick="showUser('{{item.id}}')">Szczegóły</button>
    </div>
</div>
{% endfor %}