<!-- Logowanie -->
<script src="/static/scripts/ActionLogin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<div class="col-sm-12 col-md-8 mx-auto p-5 card shadow-lg">
    <form>
        <div class="input-grup">
            <div class="row">
                <div class="col display-4">
                    Zaloguj się!
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto">
                    Witaj w Dinner Plan. Dzięki tej karcie możesz zalogować się na swoje konto.
                </div>
            </div>
            <div class="row">
                <div class="col m-1 text-monospace">
                    <input class="form-control text-center"
                           type="email"
                           placeholder="E-mail"
                           id="email" oninput="runPassChecker(this)"
                           name="email">
                </div>
            </div>
            <div class="row">
                <div class="col m-1 text-monospace">
                    <input class="form-control text-center"
                           type="password"
                           placeholder="Hasło"
                           id="pass"
                           oninput="runPassChecker(this)"
                           title="Hasło musi posiadać co najmniej 8 znaków, alfabet i cyfry."
                           name="pass">
                </div>
            </div>
            <div class="row">
                <div class="col mt-2">
                    Więcej informacji znajdziesz <a href="#">tutaj</a>.
                </div>
            </div>
            <div class="row">
                <div class="col mt-3 text-monospace">
                    <input class="btn btn-outline-info"
                           id="sign_in"
                           type="button"
                           value="Zaloguj"
                           onclick="CheckLoginWithAjax()"
                           disabled>

                    <input class="btn btn-outline-info"
                           id="test"
                           type="button"
                           value="test">
                </div>
            </div>
            <div class="row">
                <div class="col mt-2 text-monospace">
                    <input class="btn btn-outline-secondary"
                           id="goToReg"
                           type="button"
                           value="Zarejestruj się!"
                           onclick="showPanel('registry')">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var message = "Witaj w Dinner Plan. Zaloguj się by przejść dalej.";
    //DispalyMessage(message, 4000, 'display_info_message')
</script>

