<!-- Fragment wczytywany z include_menu  -->

<script>log('Lista zapisanych', 'l')</script>
<link rel=stylesheet type=text/css href="../static/style/zapisani.css">

<!---------------------------HTML--------------------------->

<!--Tytuł-->
<div class="row">
    <div class="col-12 mx-auto p-2">
        <div class="row">
            <div class="col-* m-auto">
                <h1>Lista osób zapisanych</h1>
            </div>
        </div>
    </div>
</div>
<!--Nawigacja i wyszukiwarka-->
<div class="row mb-2">
    <div class="col-12 mx-auto">
        <div class="row">
            <div class="col-* m-auto">
                <button class="alx-btn-nav" onclick="showPanel('menu')"><i class="icon-angle-double-left"></i>Menu
                </button>
                <input id="search" class="alx-input-search" type="text" placeholder="Szukaj...">
                <button id="searchbtn" class="alx-btn-search" onclick="searchUser()"><i class="icon-search-6"></i>
                </button>
                <button class="alx-btn-nav" onclick="showPanel('menu')">Dodaj <i class="icon-edit"></i></button>
            </div>
        </div>
    </div>
</div>
<!--Lista osób zapisanych-->
<div class="row alx-overflowX alx-bg-fff">
    <div class="col-12 mx-auto p-2">
        <!--Nagłówki-->
        <div class="row mb-1 mt-2 font-weight-bold alx-list">
            <div class="col-3 m-auto">
                Imię i nazwisko
                <button class="alx-btn-nav x-auto" onclick="sortName()"><i class="icon-angle-down"></i></button>
            </div>
            <div class="col-4 m-auto">
                <button class="alx-btn-nav x-auto" onclick="prevM()"><i class="icon-angle-left"></i></button>
                <div class="d-inline" id="miesiac"></div>
                <button class="alx-btn-nav x-auto" onclick="nextM()"><i class="icon-angle-right"></i></button>
            </div>
            <div class="col-2 m-auto">
                Status
                <button class="alx-btn-nav x-auto" onclick="sortPaid()"><i class="icon-angle-down"></i></button>
            </div>
            <div class="col-2 m-auto">Wyświetl</div>
        </div>
        <!--Lista podciągana z ajax'a-->
        <div id="listOFsaved"></div>
    </div>
</div>

<!---------------------------JS--------------------------->

<script>
    // nr of month
    var nm = parseInt('{{ init.nm }}'),
    //year
    year = parseInt('{{init.year}}'),
    //list of month 0 - styczen, 11 - grudzien
    miesiace = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
    //a-z or z-a
    az = true,
    //status of pay, yup or nope
    stat = true;

    //Wpisanie odpowiedniego miesiąca
    $('#miesiac').text(miesiace[nm]);

    //On next month
    function nextM() {
        nm++;
        if (nm > 11) nm = 0, year++;
        $('#miesiac').text(miesiace[nm]);
        changeList(nm, year, az, stat);
    }

    //On prev month
    function prevM() {
        nm--;
        if (nm < 0) nm = 11, year--;
        $('#miesiac').text(miesiace[nm]);
        changeList(nm, year, az, stat);
    }

    //Change sort of paid/not paid
    function sortPaid() {
        changeList(nm, year, az, !stat);
    }


    //Change sort of name
    function sortName() {
        changeList(nm, year, !az, stat);
    }

    /**
     * Przeładowuje panel na dane użytkownika
     * w danym miesiącu i roku
     * @param id - identyfikator huncwota
     * */
    function showUser(id) {
        showPanelID('userData', id, nm, year);
    }

    //Listener ustawiony na enter
    var input = document.getElementById("search");
    input.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) $("#searchbtn").click();
    });

    //Wyszukiwarka
    function searchUser() {
        changeList(nm, year, az, stat, $('#search').val());
    }

    //start function on load
    changeList('{{ init.nm }}', '{{init.year}}', true, true);

    /**
     * Przeładowanie listy na podstawie odpowiednich parametrów
     * @param mm - nr of month (0 - 11)
     * @param year - year (2018)
     * @param az - a-z or z-a (az or za)
     * @param stat - first no paid or first paid (yup or nope)
     */
    function changeList(mm, year, az, stat, search) {
        var user = 'none';
        user = search ? (search.length > 2 ? search : user) : user;
        $("#listOFsaved").load("/include_listOFsaved", {'nm': mm, 'year': year, 'az': az, 'stat': stat, 'user': user});
    }

    /**
     @namespace
     @pattern
     @name return_user_list_in_month: def
     @param nm: int numer miesiąca do wyświetlenia ( od 0 do 11 )
     @param year : int wybrany rok ( 2018 )
     @param az : bool sortowanie od a-z ( True ) lub od z-a ( False )
     @param stat : bool sortowanie po statusie opłacony ( True ) lub nieopłacony ( False )
     @param search : str przesłanie stringa, po którym szukana będzie osoba zapisana na miesiąc podany wyżej, jeśli parametr pusty to nie szukaj

     @return tuple( [ id, user, date, status, color, id ],  ):

     przyklad = ([Jan Kowalski, Styczeń 2018, Opłacono, green, 42], [Adam Nowak, Styczeń 2018, Nieopłacono, red, 69])
     */

    /**
     * Przejście do danych użytkownika odnośnie rozliczenia
     * wraz z podaniem parametrów
     * @param where
     */
    function showPanelID(where, id, nm, year) {
        log(where, 'gt');
        log(id + ' - ' + nm + ' - ' + year, 'i');
        $("#include").animate({
                opacity: 0,
            }, {
                duration: 500,
                complete: function () {
                    $("#include").load("/include_" + where, {'id': id, 'nm': nm, 'year': year}, function () {
                        $("#include").animate({
                            opacity: '1'
                        }, 500);
                    });
                    log(where, 'l');
                    localStorage.setItem('where', where);
                }
            }
        );
    }
</script>