<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'extend/header.html' %}
    <title>{{ init.title }}</title>
    <link rel=stylesheet type=text/css href="../static/style/{{ init.css }}.css">
    <script>console.log('Pobrano sytl.')</script>
</head>
<body onload="showPanel('{{ init.onStart }}')">
<script>console.log('Uruchomienie aplikacji.')</script>
<div class="container">

    <!--Body, do którego AJAX'em ładowane są fragmenty html'a-->
    <div id="include"></div>

</div>
<div id="particles-js"></div>

<script src="../static/scripts/{{ init.js }}.js"></script>

<script async defer>
    particlesJS.load('particles-js', '../static/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });
    console.log('Uruchomienie cząsteczek.');
</script>

</body>
</html>