<!DOCTYPE html>
<html lang="pl">
<head>
    <script async src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Dinner Plan</title>
    <link rel=stylesheet type=text/css href="../static/style/style.css">
</head>
<body>
<div class="container">

    <!-- Logowanie -->
    <div class="col-8 mx-auto p-5 card shadow-lg" id="log">
        <form>
            <div class="input-grup">
                <div class="row">
                    <div class="col display-4">
                        Zaloguj się!
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 m-auto">
                        Witaj w Dinner Plan. Dzięki tej karcie możesz zalogować się na swoje konto.
                    </div>
                </div>
                <div class="row">
                    <div class="col m-1 text-monospace">
                        <input class="form-control text-center" type="email" placeholder="E-mail" id="inLog" oninput="login()">
                    </div>
                </div>
                <div class="row">
                    <div class="col m-1 text-monospace">
                        <input class="form-control text-center" type="password" placeholder="Hasło"
                               pattern="[A-Za-z0-9 ]{8,100}" id="inPass" oninput="login()"
                               title="Hasło musi posiadać co najmniej 8 znaków, alfabet i cyfry.">
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2">
                        Więcej informacji znajdziesz <a href="#">tutaj</a>.
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3 text-monospace">
                        <input class="btn btn-outline-info" id="subLogin" type="submit" value="Zaloguj" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2 text-monospace">
                        <input class="btn btn-outline-secondary" id="goToReg" type="button" value="Zarejestruj się!"
                               onclick="log_reg('toReg')">
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Rejestracja -->
    <div class="col-8 mx-auto p-5 card shadow-lg" id="reg">
        <form>
            <div class="input-grup">
                <div class="row">
                    <div class="col display-4">
                        Rejestracja
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 m-auto">
                        Podaj dane wymagane poniżej by założyć konto i korzystać z serwisu.
                    </div>
                </div>
                <div class="row">
                    <div class="col m-1 mt-3 text-monospace">
                        <input class="form-control text-center bg-" type="text" placeholder="Imię i nazwisko" id="in1"
                               onchange="progress(1)" maxlength="100" pattern="[A-Za-z ]{6,100}"
                               title="Powinny się tu znaleźć znaki z alfabetu i nie powinno być ich mniej niż 6.">
                    </div>
                </div>
                <div class="row">
                    <div class="col m-1 text-monospace">
                        <input class="form-control text-center" type="email" placeholder="Login" id="in2"
                               onchange="progress(2)">
                    </div>
                </div>
                <div class="row">
                    <div class="col m-1 text-monospace">
                        <input class="form-control text-center" type="password" placeholder="Hasło" id="in3"
                               onchange="progress(3)" pattern="[A-Za-z0-9 ]{8,100}"
                               title="Hasło musi posiadać co najmniej 8 znaków, alfabet i cyfry.">
                    </div>
                </div>
                <div class="row">
                    <div class="col m-1 text-monospace">
                        <input class="form-control text-center" type="password" placeholder="Powtórz hasło" id="in4"
                               oninput="progress(4)" pattern="[A-Za-z0-9 ]{8,100}">
                    </div>
                </div>
                <div class="progress">
                    <div id="progressbar" class="progress-bar bg-info" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row">
                    <div class="col mt-2">
                        Więcej informacji znajdziesz <a href="#">tutaj</a>.
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3 text-monospace">
                        <input class="btn btn-outline-info" id="sub" type="submit" value="Zarejestruj" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2 text-monospace">
                        <input class="btn btn-outline-secondary" id="backToLogin" type="button"
                               value="Wróć do okna logowania" onclick="log_reg('toLog')">
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<div id="particles-js"></div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="../static/scripts/rejestracja.js"></script>
<script>
    /**
     * Renderowanie efektu cząsteczek
     */
    particlesJS.load('particles-js', '../static/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });

</script>
</body>
</html>