<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'extend/header.html' %}
    <title>{{ init.title }}</title>
    <link rel=stylesheet type=text/css href="../static/style/{{ init.css }}.css">
    <script>log('Default css', 'l')</script>
</head>
<body onload="showPanel('{{ init.onStart }}')">
<script>log('Aplication', 'r')</script>
<div class="container">

    <!--Body, do którego AJAX'em ładowane są fragmenty html'a-->
    <div id="include"></div>

</div>
<div id="particles-js"></div>

<script src="../static/scripts/{{ init.js }}.js"></script>

<script>
    particlesJS.load('particles-js', '../static/particles.json', function () {
        log('Particles config', 'l');
        log('Particles', 'r')
    });
    document.write('<button style="position: fixed; top: 0; right: 0;" onclick="refresh()">Refresh</button>\n');
    function refresh() {
        showPanel(localStorage.getItem('where'));
    }
</script>

</body>
</html>